alabaster==0.7.12
argon2-cffi==20.1.0
asn1crypto==0.24.0
async-generator==1.10
attrs==19.3.0
Babel==2.8.0
backcall==0.2.0
beautifulsoup4==4.9.1
bleach==3.1.5
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
click==7.1.2
colorama==0.4.3
cryptography==2.6.1
cvxpy==1.1.3
cycler==0.10.0
Cython==0.29.23
decorator==4.4.2
defusedxml==0.6.0
distro-info==0.21
docutils==0.16
ecos==2.0.7.post1
entrypoints==0.3
future==0.18.2
gitdb==4.0.5
GitPython==3.1.7
guppy3==3.1.0
idna==2.10
imagesize==1.2.0
importlib-metadata==1.7.0
iniconfig==1.0.1
ipykernel==5.3.4
ipython==7.17.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.2
Jinja2==2.11.2
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-book==0.7.4
jupyter-c-kernel @ git+https://github.com/brendan-rius/jupyter-c-kernel.git@c9a327f77cbf812e638bd78943fec0504e867fab
jupyter-cache==0.2.2
jupyter-client==6.1.6
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyter-sphinx==0.2.4
jupyterlab==2.1.4
jupyterlab-server==1.2.0
keyring==17.1.1
keyrings.alt==3.1.1
kiwisolver==1.2.0
latexcodec==2.0.1
libsass==0.20.0
line-profiler==3.2.6
markdown-it-py==0.4.8
MarkupSafe==1.1.1
matplotlib==3.3.0
memory-profiler==0.58.0
mistune==0.8.4
more-itertools==8.4.0
mpmath==1.1.0
myst-nb==0.8.4
myst-parser==0.9.1
nbclient==0.4.1
nbconvert==5.6.1
nbdime==2.0.0
nbformat==5.0.7
nest-asyncio==1.4.0
notebook==6.1.1
numpy==1.19.1
oset==0.1.3
osqp==0.6.1
packaging==20.4
pandas==1.1.0
pandocfilters==1.4.2
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
pluggy==0.13.1
prometheus-client==0.8.0
prompt-toolkit==3.0.5
psutil==5.8.0
ptyprocess==0.6.0
py==1.9.0
pybtex==0.22.2
pybtex-docutils==0.2.2
pycparser==2.20
pycrypto==2.6.1
pycurl==7.43.0.2
pydata-sphinx-theme==0.3.1
Pygments==2.6.1
PyGObject==3.30.4
pyparsing==2.4.7
pyrsistent==0.16.0
pytest==6.0.1
python-apt==1.8.4.1
python-dateutil==2.8.1
pytz==2020.1
pyxdg==0.25
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole==4.7.5
QtPy==1.9.0
requests==2.24.0
scipy==1.5.2
scs==2.1.2
seaborn==0.10.1
SecretStorage==2.3.1
Send2Trash==1.5.0
six==1.12.0
smmap==3.0.4
snowballstemmer==2.0.0
soupsieve==2.0.1
Sphinx==2.4.4
sphinx-book-theme==0.0.34
sphinx-copybutton==0.3.0
sphinx-thebe==0.0.7
sphinx-togglebutton==0.2.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-bibtex==1.0.0
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.3.18
sympy==1.6.1
terminado==0.8.3
testpath==0.4.4
toml==0.10.1
tornado==6.0.4
traitlets==4.3.3
unattended-upgrades==0.1
urllib3==1.25.10
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
zipp==3.1.0
